.theTask {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.content {
  text-align: left;
}

.content h4 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons i {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #282c34;
  color: white;
  padding: 0.5em;
  transition: 0.5s;
}

.buttons i:hover {
  color: #61dafb;
}
